
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {

    table { /* Or specify a table class */
      max-height: 100%;
      overflow: hidden;
      page-break-after: always;
    }
  
  }

  .leaflet-control-attribution.leaflet-control {
    display: none !important;
}

.leaflet-popup-close-button{
    display: none  !important;
}
  path.leaflet-interactive {
    fill: transparent;
}
@page {
    size: auto;
    size: A3;
    margin: 0mm;
    max-height: 100%;
    overflow: hidden;
    page-break-after: always;
}
.leaflet-popup-content-wrapper {
    padding: 0 !important;
    text-align: left;
    border-radius: 0 !important;
}
.leaflet-popup-content{
    margin: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button{
    color:white !important
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
  .leaflet-tile-pane {
    z-index: 500 !important;
}
.leaflet-control-layers-toggle {
    background-image: url(../public/assets/Layer.gif) !important;
    width: 36px;
    height: 36px;
    background-size: cover;
}
.legends{
    position: fixed; 
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.header-sys{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.leaflet-top.leaflet-left {
    display: none;
}
.leaflet-control-layers-toggle{
    background-color: #162641;
    border-radius: 10px;
}

/* @media only screen and (max-width: 600px) {
.leaflet-top {
    top: 80px !important;
}
} */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: none !important;
}
.leaflet-control-layers.leaflet-control {
    background-color: #162641;
    transition: 0.5s;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.leaflet-control-layers-base{
    padding: 5px;
}
.leaflet-control-layers-separator{
    padding: 5px;
    opacity: 0.2;
}
.leaflet-control-layers-overlays{
    padding: 5px;
}
.leaflet-control-layers-selector{
    accent-color: #9d3039;
}
#selector-id{
    z-index: 100000 !important;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

    @media only screen and (max-width: 600px) {
        .leaflet-control-layers {
            box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
            background: #fff;
            border-radius: 100% !important;
        }
        .leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
            border-radius: 0px !important;
        }
      }
